body{
    display: flex;
    justify-content: center;
}
.content{
    margin-top: 3%;
    background-color: red;
    width: 210mm;
    height: 297mm;
    position: relative;
    display: flex;
    flex-direction: column;
}
.header{
    flex-basis: 15%;
    background-color:yellow;
}
.nav{
    flex-basis: 5%;
    background-color: green;
}
.main{
    background-color: blue;
}
.l{
    background-color: black;
}
.r{
    background-color: blueviolet;
}